workflows/novel-orchestration-import.json
{
  "name": "Novel Orchestration - Multi-LLM Writing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novel-orchestrator",
        "options": {}
      },
      "id": "7c20c186-9a07-468a-9861-50bdc5519858",
      "name": "Start Novel Project",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "webhookId": "novel-orchestrator"
    },
    {
      "parameters": {
        "mode": "manual",
        "manualTriggerData": "{\"projectSlug\": \"miskatonic-boys\", \"concept\": \"Lovecraftian horror meets indie rock meets Scott Pilgrim. At Miskatonic University, two student musicians -- Margin Hawthorne (guitarist/engineer) and Korwen Llewelyn (vocalist/keyboardist) -- form a duo called the Miskatonic Boys. They discover the Dean has a deal with dark forces to recruit and sacrifice bands, manipulating culture through music. With help from a secret rebel group called the Dreamtenders, they use ancient chants and powerful frequencies in their music to fight back against the occult conspiracy.\", \"genre\": \"Lovecraftian horror comedy\", \"targetChapters\": 1, \"tone\": \"darkly humorous, musically passionate, conspiratorial fun\", \"chapterLengthMode\": \"adaptive\", \"voiceGuide\": \"IMMERSIVE, CHARACTER-DRIVEN PROSE. The reader should be inside the characters' experiences \\u2014 feeling what they feel, scared when they're scared, laughing because THEY would laugh.\\n\\nSHORT SENTENCES (60-70% at 12 words or fewer). Fragments for in-the-moment reactions, not detached wit: 'The sound again.' / 'Closer this time.' Allow longer sentences when characters are caught up in feeling, fear, or musical transcendence.\\n\\nDIALOGUE-DRIVEN (45-55% of text). Characters speak like real college students. Short, natural lines. Almost exclusively 'said'/'asked'. Margin: hesitant, self-deprecating, reaches for music metaphors. Korwen: direct, decisive in music, uncertain in relationships, occasional Welsh-isms.\\n\\nHUMOR FROM SITUATIONS, NOT NARRATOR. Characters react authentically to insane things \\u2014 comedy is college kids dealing with Lovecraftian horror while worrying about their setlist and whether they like each other. Banter feels like real bandmates. Scott Pilgrim energy: mundane and epic coexist without winking at the camera.\\n\\nPHYSICAL GROUNDING. Small actions between dialogue: tuning a guitar, pulling a hoodie tighter in tunnels, old stone walls. Sensory details: what the music sounds like, what eldritch wrongness FEELS in the body.\\n\\nWORD CHOICE: Concrete, everyday vocabulary. Simple verbs (looked, turned, ran). EXCEPTION: music and eldritch phenomena can reach for vivid imagery \\u2014 not purple, but genuinely trying to capture something hard to describe. This is where metaphor lives.\\n\\nINTERNAL MONOLOGUE: Brief, active flashes. Thoughts in motion, reacting, deciding. Not brooding paragraphs.\\n\\nCLOSE THIRD PERSON rotating Margin/Korwen. Stay inside their experience.\\n\\nAVOID: Meta narrator commentary, characters being self-aware about genre, purple prose for horror (make it feel WRONG and physical instead), humor undercutting stakes, adverb-heavy attribution, long descriptions divorced from character experience.\", \"chapterOutlines\": {\"1\": \"Margin Hawthorne is introduced as a student at Miskatonic University, focused on his music and studies, while also exploring his interest in ancient history. He spends most of his free time playing guitar and creating digital music in his dorm room. He is orphaned and has no parents, and most wants to make sense of how to do better in the world than what was done to him. He needs to develop an ability to trust. Korwen Llewelyn arrives at the university on a music scholarship, transferring from Wales. Korwen most wants to find and recreate the beauty that sustained her mother growing up in their own life, and share it with others. She needs to develop the ability to be decisive even when it's risky. Korwen quickly catches Margin's attention because of her unique musical talent and striking appearance. They meet in a dormitory common area and discover their mutual passion for music, quickly becoming friends and forming the Miskatonic Boys.\"}, \"finalChapterSummary\": \"Having defeated their enemies, Margin and Korwen leave Miskatonic University behind. They continue to create music together, using their experiences and newfound knowledge to inspire others and heal those affected by dark influences. Although they have escaped the clutches of Miskatonic University's sinister forces, they remain vigilant, knowing that they may be called upon again to battle the darkness that lurks beneath the surface of the world.\", \"useStoryCircle\": true, \"protagonistGoal\": \"Margin wants to make meaningful music and get his album heard \\u2014 to prove his art matters.\", \"protagonistInternalGoal\": \"Margin needs to learn to trust others and stop trying to control everything alone.\", \"antagonistGoal\": \"Dean Falwell seeks to recruit the Miskatonic Boys as the next sacrificial band in his occult deal, using their talent to further manipulate culture through music.\", \"supportingCharacterArcs\": \"Korwen needs to learn to be decisive and trust her own judgment independent of others. Olivia plays all sides for her own ascension.\", \"startFromChapter\": 1, \"authorFeedback\": \"\"}"
      },
      "id": "0856bff9-300a-47fe-9da6-57b8660ef409",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notes": "Use this for testing. Edit manualTriggerData with your concept."
    },
    {
      "parameters": {
        "jsCode": "// Initialize Project State - processes webhook input or uses test data for manual trigger\nconst input = $input.first().json;\n\n// Check if we have real data (from webhook body or direct fields)\nconst hasData = input.body?.concept || input.concept;\n\n// Source: webhook sends {body: {...}}, manual trigger sends {} \nconst src = hasData ? (input.body || input) : {\n  \"projectSlug\": \"miskatonic-boys\",\n  \"concept\": \"Lovecraftian horror meets indie rock meets Scott Pilgrim. At Miskatonic University, two student musicians -- Margin Hawthorne (guitarist/engineer) and Korwen Llewelyn (vocalist/keyboardist) -- form a duo called the Miskatonic Boys. They discover the Dean has a deal with dark forces to recruit and sacrifice bands, manipulating culture through music. With help from a secret rebel group called the Dreamtenders, they use ancient chants and powerful frequencies in their music to fight back against the occult conspiracy.\",\n  \"genre\": \"Lovecraftian horror comedy\",\n  \"targetChapters\": 1,\n  \"tone\": \"darkly humorous, musically passionate, conspiratorial fun\",\n  \"chapterLengthMode\": \"adaptive\",\n  \"voiceGuide\": \"IMMERSIVE, CHARACTER-DRIVEN PROSE. The reader should be inside the characters' experiences \\u2014 feeling what they feel, scared when they're scared, laughing because THEY would laugh.\\n\\nSHORT SENTENCES (60-70% at 12 words or fewer). Fragments for in-the-moment reactions, not detached wit: 'The sound again.' / 'Closer this time.' Allow longer sentences when characters are caught up in feeling, fear, or musical transcendence.\\n\\nDIALOGUE-DRIVEN (45-55% of text). Characters speak like real college students. Short, natural lines. Almost exclusively 'said'/'asked'. Margin: hesitant, self-deprecating, reaches for music metaphors. Korwen: direct, decisive in music, uncertain in relationships, occasional Welsh-isms.\\n\\nHUMOR FROM SITUATIONS, NOT NARRATOR. Characters react authentically to insane things \\u2014 comedy is college kids dealing with Lovecraftian horror while worrying about their setlist and whether they like each other. Banter feels like real bandmates. Scott Pilgrim energy: mundane and epic coexist without winking at the camera.\\n\\nPHYSICAL GROUNDING. Small actions between dialogue: tuning a guitar, pulling a hoodie tighter in tunnels, old stone walls. Sensory details: what the music sounds like, what eldritch wrongness FEELS in the body.\\n\\nWORD CHOICE: Concrete, everyday vocabulary. Simple verbs (looked, turned, ran). EXCEPTION: music and eldritch phenomena can reach for vivid imagery \\u2014 not purple, but genuinely trying to capture something hard to describe. This is where metaphor lives.\\n\\nINTERNAL MONOLOGUE: Brief, active flashes. Thoughts in motion, reacting, deciding. Not brooding paragraphs.\\n\\nCLOSE THIRD PERSON rotating Margin/Korwen. Stay inside their experience.\\n\\nAVOID: Meta narrator commentary, characters being self-aware about genre, purple prose for horror (make it feel WRONG and physical instead), humor undercutting stakes, adverb-heavy attribution, long descriptions divorced from character experience.\",\n  \"chapterOutlines\": {\n    \"1\": \"Margin Hawthorne is introduced as a student at Miskatonic University, focused on his music and studies, while also exploring his interest in ancient history. He spends most of his free time playing guitar and creating digital music in his dorm room. He is orphaned and has no parents, and most wants to make sense of how to do better in the world than what was done to him. He needs to develop an ability to trust. Korwen Llewelyn arrives at the university on a music scholarship, transferring from Wales. Korwen most wants to find and recreate the beauty that sustained her mother growing up in their own life, and share it with others. She needs to develop the ability to be decisive even when it's risky. Korwen quickly catches Margin's attention because of her unique musical talent and striking appearance. They meet in a dormitory common area and discover their mutual passion for music, quickly becoming friends and forming the Miskatonic Boys.\",\n    \"2\": \"After a pretty successful concert in the main rec area of Korwen's floor, Margin and Korwen receive an anonymous invitation to attend a secret gathering on campus, known as the \\\"Midnight Society.\\\" Intrigued and excited by the prospect of being part of something mysterious and exclusive, they decide to attend the gathering. However, upon arriving at the event, they realize that it isn't a simple social gathering\\u2014rather, it's an occult ritual led by none other than Olivia Falwell. Their attendance at the ritual marks them as potential targets for the Dean's dark intentions. At the party, Olivia notes Margin and Korwen, and tries to get them interested in each other romantically. Both Margin and Korwen privately consider it.\",\n    \"3\": \"Margin and Korwen are both initially reluctant to believe that their beloved university is involved in any occult conspiracy. They dismiss their experience at the Midnight Society as a bizarre prank or a one-off event. However, they cannot shake the feeling that something sinister is happening behind the scenes at Miskatonic University. They resolve to focus on their music and studies, while keeping their eyes open for any further evidence of the university's dark underbelly.\",\n    \"4\": \"Margin begins to confide in his roommate, the Ayahuasca Student, who reveals that he has been experimenting with ayahuasca\\u2014an Amazonian plant known for its powerful hallucinogenic properties. He convinces Margin to try it with him, claiming that it could help him see the truth behind the strange events at Miskatonic University. Margin reluctantly agrees. They both embarking on a psychedelic journey that opens their eyes to the occult happenings on campus. Margin gets separated from his roommate. Still high, Margin goes to Korwen's room to discuss things with her. He asks about her roommate. Korwen has no roommate. The roommate was supposed to arrive a couple of days after Korwen started, but apparently never did. The rest of the room is bare. Korwen finds a note stuffed inside her roommate's mattress, with indecipherable scribblings, and a cute flowery smiley face written in blood. Margin tries to kiss Korwen. She does at first, and likes it, but breaks it off. Their musical connection is really much more important to her. He is hurt, but also on a deeper way he sees what she is saying.\",\n    \"5\": \"Together Margin and Korwen decide to delve deeper into the mysteries of Miskatonic University. They discover a hidden underground network of tunnels and secret rooms beneath the campus, where they find evidence of dark rituals and powerful magic. The deeper they go, the more danger they face, as they realize that they are being pursued by supernatural forces that do not want them to uncover the truth. Olivia Falwell finds out that Margin and Korwen have deduced some of her father's deeper plots, and presents herself to both of them. She reveals she is bisexual. She hits on each of them separately, and also says she is not necessarily only going to serve her father. If they can find a way for her to get free from her father, she will help them. Margin returns to his dorm, lost in thought. He finds his roommate has also disappeared. All his possessions have been removed. A note is left that looks like it's in his roommate's handwriting, but doesn't sound like him at all. Margin and Korwen are summoned into the Dean's office. They are given an ultimatum. They must only concentrate on their studies and nothing more. Otherwise they'll be expelled. A further threat is a part of this. Once they're expelled, they'll be of no use to any of the occult masters. They'll just be taken, killed, and their souls put to use for far darker purposes. Margin and Korwen promise they'll be good.\",\n    \"6\": \"Morgen and Korwen both agree their only chance at survival is continue to investigate the university's hidden world. Margin and Korwen encounter both allies and enemies. They befriend a group of students called the Dreamtenders, who dedicated to exposing the university's secret conspiracies. They also had invited and secured Margin's roommate. They intend to be the spark of life and hope within the darkness that always somehow happens to bring light out of the darkness and it's chaotic complexity of riches. They are a secret group of rebels within the occult college, a tradition that has gone on for centuries within the school. This group has members in the local college radio station, the local newspapers, and other creative groups. This group also completely distrusts Olivia Falwell and will have nothing to do with her. The Dreamtenders also provide a key part of the plot against Margin and Korwen - to get them romantically attached to each other. This would be done in order to get Margin and Korwen to eventually break up and never work together again. Korwen or Margin by themselves are much easier to manipulate. Also maybe Korwen by herself would go farther. Margin says she can leave at any time. Korwen says she knows, and maybe some day she will. But not today. Immediately after this, Margin and Korwen are also faced with the Dark Music Agent, who tries to lure them away from their investigation and into his own dark machinations. Dean Falwell becomes increasingly aware of their meddling, making their position at the university more precarious.\",\n    \"7\": \"Margin and Korwen decide that their best chance at stopping the occult conspiracy is to use their musical talents to fight back. They begin working with some of the Dreamtenders on a new album that incorporates ancient chants and powerful frequencies, designed to counteract the dark magic being used by Dean Falwell and his followers. As Margin and Korwen and the Dreamtenders work on their music, they continue to learn more about the history of Miskatonic University and its connection to the occult.\",\n    \"8\": \"The Miskatonic Boys are invited to perform at a major on-campus concert, orchestrated by Dean Falwell and the Dark Music Agent. This is sold to them by Olivia Falwell as a chance to break the power of Dean Falwell. This concert is actually a trap. It's a mass ritual sacrifice, where their souls will be enslaved, and their music will be used to spread dark influence throughout the world. Margin and Korwen notice the number of Midnight Society members in key parts. Margin wants to just attack Olivia but Korwen instead makes an emotional plea to Olivia to explain what's going on. Olivia Falwell breaks down and tells them the full secret plan, right before they get on stage. She kisses them both deeply and wishes them both well. As they take the stage, they must perform knowing the true nature of the event and face the life-or-death challenge of stopping the ritual before it's too late. They both take Synthuasca and hope for the best.\",\n    \"9\": \"Right before they take the stage, Margin and Korwen share a kiss of love with no attachment and no promises, only a conscious dedication to how united in purpose they are. Through sheer willpower and determination, and help from the Dreamtenders, Margin and Korwen manage to turn the tables on the Midnight Society and their other adversaries, using their music to counteract the dark forces at play. Olivia appears to change her mind again, and start attacking and fighting as well. But Margin and Korwen's performance captivates the audience in a positive way, breaking the hypnotic trance that had been placed upon them. As a result, Dean Falwell's ritual fails, Olivia is knocked unconscious, and the Dark Music Agent devours Dean Falwell body and soul in a shocking twist.\",\n    \"10\": \"With Dean Falwell defeated and the dark ritual thwarted, Margin and Korwen are forced to flee Miskatonic University, pursued by the personal demon sent by the Dark Music Agent. They realize that while they have won a battle, they are still at risk from the dark forces that control the university. The Dreamtenders remain, and will abide. Olivia Falwell ascends her father's place. This may have been her actual plan all along. It will take some time for the transition to be public, but she will for now most likely be the next dean of Miskatonic University. And have a chance to destroy it, to shape it to her ends, or to serve the dark powers as completely as her father once did.\",\n    \"11\": \"Margin and Korwen demonstrate their mastery of their newfound abilities by evading the personal demon and using their music to protect themselves. They confront the Dark Music Agent, using their combined talents to banish him back to the realm from which he came.\",\n    \"12\": \"Having defeated their enemies, Margin and Korwen leave Miskatonic University behind. They continue to create music together, using their experiences and newfound knowledge to inspire others and heal those affected by dark influences. Although they have escaped the clutches of Miskatonic University's sinister forces, they remain vigilant, knowing that they may be called upon again to battle the darkness that lurks beneath the surface of the world.\"\n  },\n  \"finalChapterSummary\": \"Having defeated their enemies, Margin and Korwen leave Miskatonic University behind. They continue to create music together, using their experiences and newfound knowledge to inspire others and heal those affected by dark influences. Although they have escaped the clutches of Miskatonic University's sinister forces, they remain vigilant, knowing that they may be called upon again to battle the darkness that lurks beneath the surface of the world.\",\n  \"useStoryCircle\": true,\n  \"protagonistGoal\": \"Margin wants to make meaningful music and get his album heard \\u2014 to prove his art matters.\",\n  \"protagonistInternalGoal\": \"Margin needs to learn to trust others and stop trying to control everything alone.\",\n  \"antagonistGoal\": \"Dean Falwell seeks to recruit the Miskatonic Boys as the next sacrificial band in his occult deal, using their talent to further manipulate culture through music.\",\n  \"supportingCharacterArcs\": \"Korwen needs to learn to be decisive and trust her own judgment independent of others. Olivia plays all sides for her own ascension.\",\n  \"startFromChapter\": 1,\n  \"authorFeedback\": \"\"\n};\n\n// Build project state\nconst projectSlug = (src.projectSlug || src.concept || 'untitled')\n  .toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').substring(0, 40);\n\nreturn {\n  json: {\n    projectSlug,\n    concept: src.concept || 'A story about...',\n    genre: src.genre || 'literary fiction',\n    tone: src.tone || 'engaging',\n    targetChapters: src.targetChapters || 5,\n    chapterLengthMode: src.chapterLengthMode || 'adaptive',\n    voiceGuide: src.voiceGuide || '',\n    currentChapter: src.startFromChapter || 1,\n    status: 'planning',\n    chapterOutlines: typeof src.chapterOutlines === 'string' \n      ? src.chapterOutlines \n      : JSON.stringify(src.chapterOutlines || {}),\n    finalChapterSummary: src.finalChapterSummary || '',\n    useStoryCircle: src.useStoryCircle !== undefined ? src.useStoryCircle : true,\n    protagonistGoal: src.protagonistGoal || '',\n    protagonistInternalGoal: src.protagonistInternalGoal || '',\n    antagonistGoal: src.antagonistGoal || '',\n    supportingCharacterArcs: src.supportingCharacterArcs || '',\n    startFromChapter: src.startFromChapter || 1,\n    authorFeedback: src.authorFeedback || '',\n    tokenUsage: [],\n    pipelineLog: []\n  }\n};",
        "options": {}
      },
      "id": "92f95ac9-84e3-487c-8de4-9cdc28b17cfa",
      "name": "Initialize Project State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: 'You are a master story architect who uses Dan Harmon\\'s Story Circle methodology to create detailed, compelling plot structures with strong emotional arcs.' }, { role: 'user', content: `Create a detailed plot outline for a ${$json.genre} novel with the following concept:\\n\\n${$json.concept}\\n\\nTone: ${$json.tone}\\nTarget chapters: ${$json.targetChapters}\\n\\n${(() => { const outlines = (() => { try { return typeof $json.chapterOutlines === 'string' ? JSON.parse($json.chapterOutlines) : ($json.chapterOutlines || {}); } catch(e) { return {}; } })(); const keys = Object.keys(outlines); const final = $json.finalChapterSummary || ''; let s = ''; if (keys.length > 0) { s += '\\\\n\\\\nThe author has provided outlines for some chapters. Respect these exactly and build your plot structure around them:\\\\n' + keys.map(k => 'Chapter ' + k + ': ' + outlines[k]).join('\\\\n'); } if (final) { s += '\\\\n\\\\nThe story must build toward this ending: ' + final; } return s; })()}\\n\\n${$json.useStoryCircle ? '## Story Circle Framework\\nDan Harmon\\'s Story Circle (8 beats):\\n1. YOU (comfort zone) - Establish the protagonist in their ordinary world. Emotional baseline.\\n2. NEED (want something) - The protagonist recognizes a desire or lack. Tension begins rising.\\n3. GO (enter unfamiliar situation) - The protagonist crosses a threshold into the unknown. Commitment.\\n4. SEARCH (adapt) - The protagonist struggles to adapt to new circumstances. Emotional low or rising tension.\\n5. FIND (get what they wanted) - The protagonist achieves their goal or a version of it. Emotional peak.\\n6. TAKE (pay a heavy price) - The cost of getting what they wanted. Reversal. Emotional crash.\\n7. RETURN (back to familiar) - The protagonist returns to the familiar, but everything has changed. Processing.\\n8. CHANGE (having changed) - The protagonist is fundamentally transformed. New equilibrium.\\n\\nDiametric opposites (mirror each other thematically):\\n- Beat 1 (You) \u2194 Beat 5 (Find): comfort vs. achievement\\n- Beat 2 (Need) \u2194 Beat 6 (Take): wanting vs. paying the price\\n- Beat 3 (Go) \u2194 Beat 7 (Return): leaving vs. coming back changed\\n- Beat 4 (Search) \u2194 Beat 8 (Change): adapting vs. transformed\\n\\nEmotional arc: Beats 1-4 are generally ascending (building tension, hope, struggle). Beat 5 is the peak. Beats 6-8 descend through cost, return, and resolution \u2014 but the protagonist emerges changed.\\n\\n## Character Goals\\nProtagonist external goal: ' + ($json.protagonistGoal || 'Not specified') + '\\nProtagonist internal/emotional goal: ' + ($json.protagonistInternalGoal || 'Not specified') + '\\nAntagonist goal: ' + ($json.antagonistGoal || 'Not specified') + '\\nSupporting character arcs: ' + ($json.supportingCharacterArcs || 'Not specified') + '\\n\\n## Instructions\\nMap the 8 Story Circle beats across the ' + $json.targetChapters + ' chapters. For each chapter provide:\\n1. Which Story Circle beat(s) it falls on (a chapter may span partial beats)\\n2. The protagonist\\'s EXTERNAL progress toward their goal\\n3. The protagonist\\'s INTERNAL emotional state and growth\\n4. The antagonist\\'s moves and how they conflict with the protagonist\\n5. How the emotional up-down flow affects supporting characters and their choices\\n6. Key scenes and turning points\\n\\nFor chapters where the author has provided outlines, honor those exactly and map them to the appropriate beat. For unplotted chapters, generate plot that:\\n- Follows the Story Circle emotional arc\\n- Advances toward the next outlined chapter or final destination\\n- Creates meaningful conflict between protagonist and antagonist goals\\n- Shows how the protagonist\\'s internal emotional journey affects those around them\\n\\n' : '## Instructions\\nProvide:\\n1. Three-act structure breakdown\\n2. Major plot points (inciting incident, midpoint, climax, resolution)\\n3. Chapter-by-chapter outline with key scenes\\n4. Subplots and how they weave into main plot\\n\\n'}Format as structured JSON with keys: acts, plotPoints, chapters (array with: number, title, beat, protagonistExternal, protagonistEmotional, antagonistAction, supportingImpact, keyScenes), subplots, emotionalArc` }], temperature: 0.7, max_tokens: 4000 }) }}",
        "options": {},
        "method": "POST"
      },
      "id": "f8ffa52c-6b07-4a1f-ac78-2e04433353d1",
      "name": "ChatGPT: Plot Outline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        512,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "jIrfvw7FGfovZHFu",
          "name": "OpenAi account 2"
        }
      },
      "notes": "ChatGPT excels at logical plot structure and world-building"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 4000, messages: [{ role: 'user', content: `Based on this story concept, create detailed character profiles:\\n\\nConcept: ${$('Initialize Project State').item.json.concept}\\nGenre: ${$('Initialize Project State').item.json.genre}\\n\\nFor each major character provide:\\n1. Full name and physical description\\n2. Background and backstory\\n3. Core motivation and desires\\n4. Fears and flaws\\n5. Character arc (how they change)\\n6. Voice/speech patterns\\n7. Key relationships\\n\\nCreate 3-5 major characters and 2-3 supporting characters. Format as JSON.` }] }) }}",
        "options": {}
      },
      "id": "bf7700be-a227-4a76-9ca0-790595f3e4c0",
      "name": "Claude: Character Development",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        512,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vybJFa79qMzj0Neu",
          "name": "Anthropic account"
        }
      },
      "notes": "Claude excels at nuanced character psychology and dialogue voice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar-pro', messages: [{ role: 'system', content: 'You are a research assistant helping an author with accurate historical and factual details for their novel.' }, { role: 'user', content: `Research the following for a ${$('Initialize Project State').item.json.genre} novel:\\n\\nConcept: ${$('Initialize Project State').item.json.concept}\\n\\nProvide:\\n1. Historical context and accurate period details\\n2. Setting-specific information (locations, culture, customs)\\n3. Technical details relevant to the plot\\n4. Common misconceptions to avoid\\n5. Authentic dialogue/slang for the era\\n6. Sources for further research\\n\\nBe specific and cite sources where possible.` }], max_tokens: 2000 }) }}",
        "options": {}
      },
      "id": "3fb6f631-6207-4950-8d69-dabee8d7d530",
      "name": "Perplexity: Research & Facts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        512,
        400
      ],
      "credentials": {
        "perplexityApi": {
          "id": "A7ALauxicvoZhapq",
          "name": "Perplexity account"
        }
      },
      "notes": "Perplexity provides accurate research with citations"
    },
    {
      "parameters": {
        "jsCode": "function extractTokenUsage(response, node, model, provider, inputPricePerM, outputPricePerM) {\n  let inputTokens = 0, outputTokens = 0;\n  if (provider === 'google') {\n    inputTokens = response.usageMetadata?.promptTokenCount || 0;\n    outputTokens = response.usageMetadata?.candidatesTokenCount || 0;\n  } else if (provider === 'anthropic') {\n    inputTokens = response.usage?.input_tokens || 0;\n    outputTokens = response.usage?.output_tokens || 0;\n  } else {\n    inputTokens = response.usage?.prompt_tokens || 0;\n    outputTokens = response.usage?.completion_tokens || 0;\n  }\n  const costUSD = (inputTokens * inputPricePerM / 1000000) + (outputTokens * outputPricePerM / 1000000);\n  return { node, model, provider, inputTokens, outputTokens, costUSD: Math.round(costUSD * 1000000) / 1000000 };\n}\n\n// Aggregate planning outputs from all LLMs\nconst plotData = $('ChatGPT: Plot Outline').item.json;\nconst characterData = $('Claude: Character Development').item.json;\nconst researchData = $('Perplexity: Research & Facts').item.json;\nconst projectState = $('Initialize Project State').item.json;\n\n// Extract token usage (updated model pricing)\nconst tokenUsage = [\n  extractTokenUsage(plotData, 'ChatGPT: Plot Outline', 'gpt-4o', 'openai', 2.5, 10),\n  extractTokenUsage(characterData, 'Claude: Character Development', 'claude-opus-4-6', 'anthropic', 15, 75),\n  extractTokenUsage(researchData, 'Perplexity: Research & Facts', 'sonar-pro', 'perplexity', 3, 15)\n];\n\n// Parse responses\nlet plotOutline = {};\nlet characters = {};\nlet research = {};\n\ntry {\n  if (plotData.choices && plotData.choices[0]) {\n    const content = plotData.choices[0].message.content;\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    plotOutline = jsonMatch ? JSON.parse(jsonMatch[0]) : { raw: content };\n  }\n} catch (e) {\n  plotOutline = { raw: plotData.choices?.[0]?.message?.content || 'Parse error' };\n}\n\ntry {\n  if (characterData.content && characterData.content[0]) {\n    const content = characterData.content[0].text;\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    characters = jsonMatch ? JSON.parse(jsonMatch[0]) : { raw: content };\n  }\n} catch (e) {\n  characters = { raw: characterData.content?.[0]?.text || 'Parse error' };\n}\n\ntry {\n  if (researchData.choices && researchData.choices[0]) {\n    research = { content: researchData.choices[0].message.content };\n  }\n} catch (e) {\n  research = { raw: 'Research parse error' };\n}\n\n// Pipeline logging\nconst pipelineLog = [{\n  timestamp: new Date().toISOString(),\n  node: 'Aggregate Planning Data',\n  action: 'Planning phase complete',\n  plotLength: JSON.stringify(plotOutline).length,\n  characterCount: Object.keys(characters).length,\n  researchLength: JSON.stringify(research).length,\n  tokens: tokenUsage.reduce((sum, t) => sum + t.inputTokens + t.outputTokens, 0)\n}];\n\nreturn {\n  json: {\n    ...projectState,\n    status: 'planning_complete',\n    tokenUsage,\n    pipelineLog,\n    spareText: [],\n    planning: {\n      plotOutline,\n      characters,\n      research,\n      completedAt: new Date().toISOString()\n    }\n  }\n};"
      },
      "id": "20d4520b-1189-437a-a352-d498cbfabaa1",
      "name": "Aggregate Planning Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        208
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1vSGcfSPmDKBUAvk7vJK7Y76PX5rJNr3L82ipCP5xsjI"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.projectSlug + '-projects' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Project ID": "={{ $now.format('yyyyMMdd-HHmmss') }}",
            "Project Slug": "={{ $json.projectSlug }}",
            "Concept": "={{ $json.concept }}",
            "Genre": "={{ $json.genre }}",
            "Status": "={{ $json.status }}",
            "Target Chapters": "={{ $json.targetChapters }}",
            "Created At": "={{ $now.toISO() }}",
            "Planning Data": "={{ JSON.stringify($json.planning).substring(0, 50000) }}"
          }
        },
        "options": {}
      },
      "id": "9fb0eaef-61a9-451b-a65c-10e0c5e5ca4f",
      "name": "Save Project to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1008,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhyTImy7x7tBA5vR",
          "name": "Google Sheets account"
        }
      },
      "notes": "Tracks project state in Google Sheets"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "drafting"
            },
            {
              "name": "currentChapter",
              "value": "={{ $json.startFromChapter || '1' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b81c4ccf-65a7-4826-87d0-96d03cb00aec",
      "name": "Start Drafting Phase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1232,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 16000, messages: [{ role: 'user', content: `You are writing Chapter ${$json.currentChapter} of a ${$json.genre} novel.\\n\\n## Story Concept\\n${$json.concept}\\n\\n## Tone\\n${$json.tone}\\n\\n## Chapter Guidance\\n${(() => { const ch = String($json.currentChapter); const outlines = (() => { try { return typeof $json.chapterOutlines === 'string' ? JSON.parse($json.chapterOutlines) : ($json.chapterOutlines || {}); } catch(e) { return {}; } })(); const outline = outlines[ch] || ''; const finalSummary = $json.finalChapterSummary || ''; const totalCh = parseInt($json.targetChapters); let guidance = ''; if (outline) { guidance += 'OUTLINE FOR THIS CHAPTER: ' + outline; } else { guidance += 'No specific outline was provided for this chapter. Write an original chapter that naturally continues from previous events.'; const futureKeys = Object.keys(outlines).map(Number).filter(n => n > parseInt(ch)).sort((a,b) => a - b); if (futureKeys.length > 0) { guidance += '\\\\n\\\\nThis chapter should set up and work toward this upcoming plot point (Chapter ' + futureKeys[0] + '): ' + outlines[String(futureKeys[0])]; } } if (finalSummary && parseInt(ch) < totalCh) { guidance += '\\\\nThe story should ultimately arrive at this ending: ' + finalSummary; } return guidance; })()}\\n\\n## Story Circle Position\\n${(() => { if (!$json.useStoryCircle || $json.useStoryCircle === 'false') return 'Story Circle not active.'; const ch = parseInt($json.currentChapter); const total = parseInt($json.targetChapters); const beats = ['You (comfort zone)', 'Need (want something)', 'Go (enter unfamiliar)', 'Search (adapt)', 'Find (get what they wanted)', 'Take (pay heavy price)', 'Return (back to familiar)', 'Change (transformed)']; const beatPos = ((ch - 1) / (total - 1)) * 8; const primaryBeat = Math.min(Math.floor(beatPos), 7); const progress = beatPos - primaryBeat; let s = 'This chapter falls on Beat ' + (primaryBeat + 1) + ': ' + beats[primaryBeat]; if (progress > 0.3) { s += ', transitioning toward Beat ' + (primaryBeat + 2) + ': ' + (beats[primaryBeat + 1] || 'Resolution'); } s += '\\\\n\\\\nEmotional arc: ' + (beatPos <= 4 ? 'ASCENDING \u2014 building tension, hope, and struggle' : beatPos <= 5 ? 'PEAK \u2014 achievement but at what cost?' : 'DESCENDING \u2014 paying the price, returning changed'); if ($json.protagonistGoal) { s += '\\\\n\\\\nProtagonist external goal: ' + $json.protagonistGoal; } if ($json.protagonistInternalGoal) { s += '\\\\nProtagonist internal goal: ' + $json.protagonistInternalGoal; } if ($json.antagonistGoal) { s += '\\\\nAntagonist goal: ' + $json.antagonistGoal; } if ($json.supportingCharacterArcs) { s += '\\\\nSupporting arcs: ' + $json.supportingCharacterArcs; } s += '\\\\n\\\\nShow how the protagonist\\'s emotional state at this beat affects the people around them. The antagonist\\'s actions should create meaningful friction with what the protagonist wants.'; return s; })()}\\n\\n## Previous Chapter Context\\n${(() => { const summaries = $json.chapterSummaries || []; if (summaries.length === 0) return 'This is the first chapter \u2014 establish the world and characters.'; const recent = summaries.slice(-3); return 'What has happened in recent chapters (maintain continuity):\\\\n' + recent.map(s => 'Chapter ' + s.number + ' (score: ' + s.score + '):\\\\n' + 'Opening: ' + s.opening.substring(0, 400) + '...\\\\n' + 'Plot events: ' + (s.plotEvents || 'N/A').substring(0, 300) + '\\\\n' + 'Character state: ' + (s.characterState || 'N/A').substring(0, 200) + '\\\\n' + 'Ending: ...' + s.closing.substring(0, 300)).join('\\\\n\\\\n'); })()}\\n\\n## Planning Context\\nPlot Outline: ${JSON.stringify($json.planning?.plotOutline || {}).substring(0, 3000)}\\n\\nCharacters: ${JSON.stringify($json.planning?.characters || {}).substring(0, 3000)}\\n\\nResearch Notes: ${JSON.stringify($json.planning?.research || {}).substring(0, 2000)}\\n\\n## Author Voice & Style\\n${$json.voiceGuide ? $json.voiceGuide : 'No specific voice guide provided \u2014 use a natural, engaging style appropriate for the genre.'}\\n\\n## Author Feedback from Previous Chapter(s)\\n${$json.authorFeedback ? $json.authorFeedback : 'No author feedback provided \u2014 proceed with your best judgment.'}\\n\\n## Instructions\\nWrite Chapter ${$json.currentChapter} with:\\n- Strong scene-setting and sensory details\\n- Character-authentic dialogue\\n- Proper pacing and tension\\n- Connection to the overall plot arc\\n${$json.chapterLengthMode === 'fixed' ? '- Approximately 2000-3000 words' : '- Write as much as this chapter needs to adequately develop its characters, advance its plot points, establish its settings, and resolve or set up its conflicts. Do not pad or rush \u2014 let the story dictate the length.'}\\n\\nBegin the chapter now:` }] }) }}",
        "options": {}
      },
      "id": "55c548d9-8b81-419d-b67a-c6a8f353bb53",
      "name": "Claude: Write Chapter Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1504,
        112
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vybJFa79qMzj0Neu",
          "name": "Anthropic account"
        }
      },
      "notes": "Claude writes the initial chapter draft"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "xAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'grok-3', messages: [{ role: 'system', content: 'You are a creative writing enhancer. Your job is to add creative flourishes, unexpected turns, witty dialogue, and memorable moments to existing prose. Keep the core story intact but make it more vibrant and engaging.' }, { role: 'user', content: `Review this chapter draft and suggest 3-5 creative enhancements. These could be:\\n- A memorable metaphor or image\\n- A witty dialogue exchange\\n- An unexpected but fitting detail\\n- A moment of dark humor or irony\\n- A sensory detail that brings a scene to life\\n\\nChapter Draft:\\n${$('Claude: Write Chapter Draft').item.json.content?.[0]?.text?.substring(0, 6000) || 'No draft available'}\\n\\nProvide your suggestions as a JSON array with keys: location (where in the chapter), type (metaphor/dialogue/detail/humor/sensory), original (brief quote of original), enhancement (your suggested addition/change), reasoning (why this improves the chapter)` }], temperature: 0.9, max_tokens: 2000 }) }}",
        "options": {}
      },
      "id": "2f46abec-5c60-48c1-96a2-4cf09440b8ec",
      "name": "Grok: Creative Enhancements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1648,
        212
      ],
      "credentials": {
        "xAiApi": {
          "id": "9pOfQFvB0jToXBtR",
          "name": "xAi account"
        }
      },
      "notes": "Grok adds creative flourishes and unexpected elements (optional)"
    },
    {
      "parameters": {
        "jsCode": "function extractTokenUsage(response, node, model, provider, inputPricePerM, outputPricePerM) {\n  let inputTokens = 0, outputTokens = 0;\n  if (provider === 'google') {\n    inputTokens = response.usageMetadata?.promptTokenCount || 0;\n    outputTokens = response.usageMetadata?.candidatesTokenCount || 0;\n  } else if (provider === 'anthropic') {\n    inputTokens = response.usage?.input_tokens || 0;\n    outputTokens = response.usage?.output_tokens || 0;\n  } else {\n    inputTokens = response.usage?.prompt_tokens || 0;\n    outputTokens = response.usage?.completion_tokens || 0;\n  }\n  const costUSD = (inputTokens * inputPricePerM / 1000000) + (outputTokens * outputPricePerM / 1000000);\n  return { node, model, provider, inputTokens, outputTokens, costUSD: Math.round(costUSD * 1000000) / 1000000 };\n}\n\n// Combine chapter draft with creative suggestions\nconst projectState = $('Start Drafting Phase').item.json;\nconst claudeDraft = $('Claude: Write Chapter Draft').item.json;\nconst grokSuggestions = $('Grok: Creative Enhancements').item.json;\n\n// Token usage (updated pricing)\nconst newTokens = [\n  extractTokenUsage(claudeDraft, 'Claude: Write Chapter Draft', 'claude-opus-4-6', 'anthropic', 15, 75),\n  extractTokenUsage(grokSuggestions, 'Grok: Creative Enhancements', 'grok-3', 'xai', 2, 10)\n];\nconst tokenUsage = [...(projectState.tokenUsage || []), ...newTokens];\n\nlet chapterText = '';\nlet suggestions = [];\n\nif (claudeDraft.content && claudeDraft.content[0]) {\n  chapterText = claudeDraft.content[0].text;\n}\n\ntry {\n  if (grokSuggestions.choices && grokSuggestions.choices[0]) {\n    const content = grokSuggestions.choices[0].message.content;\n    const jsonMatch = content.match(/\\[[\\s\\S]*\\]/);\n    suggestions = jsonMatch ? JSON.parse(jsonMatch[0]) : [];\n  }\n} catch (e) {\n  suggestions = [{ note: 'Could not parse Grok suggestions' }];\n}\n\n// Capture Grok suggestions as spare text for potential reuse\nconst spareText = [...(projectState.spareText || [])];\nif (suggestions.length > 0) {\n  spareText.push({\n    source: 'Grok: Creative Enhancements',\n    chapter: parseInt(projectState.currentChapter),\n    type: 'creative_suggestions',\n    content: JSON.stringify(suggestions, null, 2)\n  });\n}\n\n// Logging\nconst log = [...(projectState.pipelineLog || [])];\nlog.push({\n  timestamp: new Date().toISOString(),\n  node: 'Combine Draft & Suggestions',\n  chapter: parseInt(projectState.currentChapter),\n  action: 'Draft combined with suggestions',\n  draftWords: chapterText.split(/\\s+/).length,\n  suggestionsCount: suggestions.length,\n  tokens: newTokens.reduce((sum, t) => sum + t.inputTokens + t.outputTokens, 0)\n});\n\nreturn {\n  json: {\n    ...projectState,\n    tokenUsage,\n    pipelineLog: log,\n    spareText,\n    currentChapterDraft: {\n      chapterNumber: parseInt(projectState.currentChapter),\n      text: chapterText,\n      wordCount: chapterText.split(/\\s+/).length,\n      creativeSuggestions: suggestions,\n      draftedAt: new Date().toISOString()\n    }\n  }\n};"
      },
      "id": "ce7456b5-010d-4fed-a48d-9ef3db8cb72b",
      "name": "Combine Draft & Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: `You are a developmental editor analyzing a chapter draft. Provide comprehensive feedback.\\n\\n## Chapter ${$json.currentChapterDraft.chapterNumber} Draft\\n${$json.currentChapterDraft.text.substring(0, 25000)}\\n\\n## Analysis Required\\n1. PACING: Is the chapter well-paced? Where does it drag or rush?\\n2. CHARACTER: Do characters feel authentic? Is dialogue natural?\\n3. PLOT: Does this chapter advance the story effectively?\\n4. THEMES: What themes emerge? Are they handled well?\\n5. PROSE: Quality of the writing - strengths and areas for improvement\\n6. HOOKS: Does it have a strong opening? Compelling ending?\\n\\nProvide specific, actionable feedback. Format as JSON with keys: pacing, character, plot, themes, prose, hooks, overallScore (1-10), priorityRevisions (array of top 3 things to fix)` }] }], generationConfig: { temperature: 0.3, maxOutputTokens: 3000 } }) }}",
        "options": {}
      },
      "id": "e6b47c20-620f-47db-a9af-cc66b3ca3004",
      "name": "Gemini: Comprehensive Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2064,
        0
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "LnL58s7Q3PCmwAqW",
          "name": "Query Auth account"
        },
        "googlePalmApi": {
          "id": "vmyjjm5GQ5VhhN8W",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "Gemini's long context is ideal for full chapter analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: 'You are a continuity editor checking for plot consistency and logical coherence.' }, { role: 'user', content: `Check this chapter for consistency issues:\\n\\nChapter ${$json.currentChapterDraft.chapterNumber}:\\n${$json.currentChapterDraft.text.substring(0, 8000)}\\n\\nPlot Outline Context:\\n${JSON.stringify($json.planning?.plotOutline || {}).substring(0, 2000)}\\n\\nIdentify:\\n1. Timeline inconsistencies\\n2. Character behavior contradictions\\n3. Setting/world-building errors\\n4. Plot holes or logic gaps\\n5. Dropped threads or forgotten elements\\n\\nFormat as JSON: { issues: [{ type, description, severity (high/medium/low), suggestedFix }], consistencyScore: 1-10 }` }], temperature: 0.2, max_tokens: 2000 }) }}",
        "options": {}
      },
      "id": "70343598-b1e4-450c-b63f-eb66db2aba9c",
      "name": "ChatGPT: Consistency Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2064,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "CvnarbdQ0AsoVnHd",
          "name": "OpenAi account"
        }
      },
      "notes": "ChatGPT checks plot logic and consistency"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 3000, messages: [{ role: 'user', content: `Perform a line-level edit review of this chapter. Focus on prose quality.\\n\\nChapter ${$json.currentChapterDraft.chapterNumber}:\\n${$json.currentChapterDraft.text.substring(0, 10000)}\\n\\n## Author Voice Reference\\n${$json.voiceGuide ? 'The author\\'s intended voice: ' + $json.voiceGuide.substring(0, 1500) + '\\n\\nWhen reviewing, distinguish between genuine prose issues and intentional stylistic choices that serve this voice.' : 'No specific voice guide \u2014 evaluate against general best practices for the genre.'}\\n\\nIdentify:\\n1. Overused words or phrases\\n2. Passive voice that should be active\\n3. Weak verbs that could be stronger\\n4. Adverb overuse\\n5. Telling vs showing opportunities\\n6. Dialogue attribution issues\\n7. Rhythm and flow problems\\n\\nProvide specific examples with suggested improvements. Format as JSON: { lineEdits: [{ original, suggested, reason }], proseStrengths: [], overallProseScore: 1-10 }` }] }) }}",
        "options": {}
      },
      "id": "8b0eadda-d3e6-4407-8433-13a4eaf4fdbc",
      "name": "Claude: Line Editing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2064,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vybJFa79qMzj0Neu",
          "name": "Anthropic account"
        }
      },
      "notes": "Claude catches prose-level issues"
    },
    {
      "parameters": {
        "jsCode": "function extractTokenUsage(response, node, model, provider, inputPricePerM, outputPricePerM) {\n  let inputTokens = 0, outputTokens = 0;\n  if (provider === 'google') {\n    inputTokens = response.usageMetadata?.promptTokenCount || 0;\n    outputTokens = response.usageMetadata?.candidatesTokenCount || 0;\n  } else if (provider === 'anthropic') {\n    inputTokens = response.usage?.input_tokens || 0;\n    outputTokens = response.usage?.output_tokens || 0;\n  } else {\n    inputTokens = response.usage?.prompt_tokens || 0;\n    outputTokens = response.usage?.completion_tokens || 0;\n  }\n  const costUSD = (inputTokens * inputPricePerM / 1000000) + (outputTokens * outputPricePerM / 1000000);\n  return { node, model, provider, inputTokens, outputTokens, costUSD: Math.round(costUSD * 1000000) / 1000000 };\n}\n\n// Aggregate all review feedback\nconst projectState = $('Combine Draft & Suggestions').item.json;\nconst geminiReview = $('Gemini: Comprehensive Review').item.json;\nconst chatgptConsistency = $('ChatGPT: Consistency Check').item.json;\nconst claudeLineEdit = $('Claude: Line Editing').item.json;\n\n// Token usage (updated pricing)\nconst newTokens = [\n  extractTokenUsage(geminiReview, 'Gemini: Comprehensive Review', 'gemini-2.5-flash', 'google', 0.15, 0.6),\n  extractTokenUsage(chatgptConsistency, 'ChatGPT: Consistency Check', 'gpt-4o', 'openai', 2.5, 10),\n  extractTokenUsage(claudeLineEdit, 'Claude: Line Editing', 'claude-sonnet-4-20250514', 'anthropic', 3, 15)\n];\nconst tokenUsage = [...(projectState.tokenUsage || []), ...newTokens];\n\nlet developmentalFeedback = {};\nlet consistencyFeedback = {};\nlet lineEditFeedback = {};\n\ntry {\n  if (geminiReview.candidates && geminiReview.candidates[0]) {\n    const text = geminiReview.candidates[0].content.parts[0].text;\n    const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n    developmentalFeedback = jsonMatch ? JSON.parse(jsonMatch[0]) : { raw: text };\n  }\n} catch (e) {\n  developmentalFeedback = { error: 'Parse error', raw: geminiReview };\n}\n\ntry {\n  if (chatgptConsistency.choices && chatgptConsistency.choices[0]) {\n    const text = chatgptConsistency.choices[0].message.content;\n    const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n    consistencyFeedback = jsonMatch ? JSON.parse(jsonMatch[0]) : { raw: text };\n  }\n} catch (e) {\n  consistencyFeedback = { error: 'Parse error' };\n}\n\ntry {\n  if (claudeLineEdit.content && claudeLineEdit.content[0]) {\n    const text = claudeLineEdit.content[0].text;\n    const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n    lineEditFeedback = jsonMatch ? JSON.parse(jsonMatch[0]) : { raw: text };\n  }\n} catch (e) {\n  lineEditFeedback = { error: 'Parse error' };\n}\n\nconst scores = [\n  developmentalFeedback.overallScore,\n  consistencyFeedback.consistencyScore,\n  lineEditFeedback.overallProseScore\n].filter(s => typeof s === 'number');\nconst avgScore = scores.length > 0 ? scores.reduce((a, b) => a + b, 0) / scores.length : 5;\n\n// Capture review feedback as spare text\nconst spareText = [...(projectState.spareText || [])];\nspareText.push({\n  source: 'Review Feedback',\n  chapter: projectState.currentChapterDraft.chapterNumber,\n  type: 'developmental_review',\n  content: JSON.stringify(developmentalFeedback, null, 2).substring(0, 5000)\n});\nif (lineEditFeedback.lineEdits) {\n  spareText.push({\n    source: 'Claude: Line Editing',\n    chapter: projectState.currentChapterDraft.chapterNumber,\n    type: 'line_edit_suggestions',\n    content: JSON.stringify(lineEditFeedback.lineEdits, null, 2).substring(0, 5000)\n  });\n}\n\n// Logging\nconst log = [...(projectState.pipelineLog || [])];\nlog.push({\n  timestamp: new Date().toISOString(),\n  node: 'Aggregate Review Feedback',\n  chapter: projectState.currentChapterDraft.chapterNumber,\n  action: 'Reviews aggregated',\n  avgScore: avgScore.toFixed(1),\n  needsRevision: avgScore < 7,\n  tokens: newTokens.reduce((sum, t) => sum + t.inputTokens + t.outputTokens, 0)\n});\n\nreturn {\n  json: {\n    ...projectState,\n    tokenUsage,\n    pipelineLog: log,\n    spareText,\n    review: {\n      developmental: developmentalFeedback,\n      consistency: consistencyFeedback,\n      lineEdit: lineEditFeedback,\n      averageScore: avgScore.toFixed(1),\n      needsRevision: avgScore < 7,\n      reviewedAt: new Date().toISOString()\n    }\n  }\n};"
      },
      "id": "063f5753-4c38-42c8-a9f1-f9121974d828",
      "name": "Aggregate Review Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.review.needsRevision }}",
              "value2": true
            }
          ]
        }
      },
      "id": "82934e3d-ee78-4946-8375-e77764599bdc",
      "name": "Needs Revision?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2560,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 8000, messages: [{ role: 'user', content: `Revise this chapter based on editor feedback.\\n\\n## Original Chapter\\n${$json.currentChapterDraft.text.substring(0, 12000)}\\n\\n## Story Circle & Chapter Context\\n${(() => { if (!$json.useStoryCircle || $json.useStoryCircle === 'false') return ''; const ch = parseInt($json.currentChapterDraft?.chapterNumber || $json.currentChapter); const total = parseInt($json.targetChapters); const beats = ['You', 'Need', 'Go', 'Search', 'Find', 'Take', 'Return', 'Change']; const beatPos = ((ch - 1) / (total - 1)) * 8; const primaryBeat = Math.min(Math.floor(beatPos), 7); return 'Story Circle beat: ' + (primaryBeat + 1) + ' (' + beats[primaryBeat] + '). Preserve the emotional arc appropriate to this position.\\\\n'; })()}\\n${(() => { const ch = String($json.currentChapterDraft?.chapterNumber || $json.currentChapter); const outlines = (() => { try { return typeof $json.chapterOutlines === 'string' ? JSON.parse($json.chapterOutlines) : ($json.chapterOutlines || {}); } catch(e) { return {}; } })(); return outlines[ch] ? 'This chapter should follow this outline: ' + outlines[ch] : 'No specific outline \u2014 maintain narrative continuity.'; })()}\\n\\n## Author Feedback\\n${$json.authorFeedback ? 'The author has provided this guidance for the overall manuscript: ' + $json.authorFeedback : ''}\\n\\n## Developmental Feedback\\n${JSON.stringify($json.review.developmental).substring(0, 2000)}\\n\\n## Consistency Issues\\n${JSON.stringify($json.review.consistency).substring(0, 1500)}\\n\\n## Line Edit Suggestions\\n${JSON.stringify($json.review.lineEdit).substring(0, 2000)}\\n\\n## Creative Enhancement Ideas\\n${JSON.stringify($json.currentChapterDraft.creativeSuggestions || []).substring(0, 1000)}\\n\\n## Author Voice & Style\\n${$json.voiceGuide ? $json.voiceGuide : 'Maintain the voice established in the draft.'}\\n\\n## Instructions\\nRewrite the chapter preserving the author\\'s intended voice and style while addressing the feedback. Prioritize:\\n1. High-severity consistency issues\\n2. Pacing problems\\n3. Character authenticity\\n4. Incorporate relevant creative enhancements\\n5. Preserve the author\\'s voice and style throughout\\n\\nWrite the complete revised chapter:` }] }) }}",
        "options": {}
      },
      "id": "0d72d30c-6a7a-4627-b3fe-94dcc12bd33e",
      "name": "Claude: Apply Revisions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2848,
        112
      ],
      "credentials": {
        "anthropicApi": {
          "id": "vybJFa79qMzj0Neu",
          "name": "Anthropic account"
        }
      },
      "notes": "Claude revises based on aggregated feedback"
    },
    {
      "parameters": {
        "jsCode": "function extractTokenUsage(response, node, model, provider, inputPricePerM, outputPricePerM) {\n  let inputTokens = 0, outputTokens = 0;\n  if (provider === 'google') {\n    inputTokens = response.usageMetadata?.promptTokenCount || 0;\n    outputTokens = response.usageMetadata?.candidatesTokenCount || 0;\n  } else if (provider === 'anthropic') {\n    inputTokens = response.usage?.input_tokens || 0;\n    outputTokens = response.usage?.output_tokens || 0;\n  } else {\n    inputTokens = response.usage?.prompt_tokens || 0;\n    outputTokens = response.usage?.completion_tokens || 0;\n  }\n  const costUSD = (inputTokens * inputPricePerM / 1000000) + (outputTokens * outputPricePerM / 1000000);\n  return { node, model, provider, inputTokens, outputTokens, costUSD: Math.round(costUSD * 1000000) / 1000000 };\n}\n\n// Update chapter with revision\nconst projectState = $('Aggregate Review Feedback').item.json;\nconst revision = $('Claude: Apply Revisions').item.json;\n\nconst newTokens = [\n  extractTokenUsage(revision, 'Claude: Apply Revisions', 'claude-opus-4-6', 'anthropic', 15, 75)\n];\nconst tokenUsage = [...(projectState.tokenUsage || []), ...newTokens];\n\nlet revisedText = '';\nif (revision.content && revision.content[0]) {\n  revisedText = revision.content[0].text;\n}\n\n// Capture original draft as spare text before replacing\nconst spareText = [...(projectState.spareText || [])];\nspareText.push({\n  source: 'Claude: Write Chapter Draft (pre-revision)',\n  chapter: projectState.currentChapterDraft.chapterNumber,\n  type: 'original_draft',\n  content: projectState.currentChapterDraft.text.substring(0, 10000)\n});\n\nconst revisionCount = (projectState.currentChapterDraft.revisionCount || 0) + 1;\n\n// Logging\nconst log = [...(projectState.pipelineLog || [])];\nlog.push({\n  timestamp: new Date().toISOString(),\n  node: 'Update Chapter Draft',\n  chapter: projectState.currentChapterDraft.chapterNumber,\n  action: 'Revision applied (revision #' + revisionCount + ')',\n  originalWords: projectState.currentChapterDraft.wordCount,\n  revisedWords: revisedText.split(/\\s+/).length,\n  tokens: newTokens.reduce((sum, t) => sum + t.inputTokens + t.outputTokens, 0)\n});\n\nreturn {\n  json: {\n    ...projectState,\n    tokenUsage,\n    pipelineLog: log,\n    spareText,\n    currentChapterDraft: {\n      ...projectState.currentChapterDraft,\n      text: revisedText,\n      wordCount: revisedText.split(/\\s+/).length,\n      revisionCount: revisionCount,\n      lastRevisedAt: new Date().toISOString()\n    },\n    review: {\n      ...projectState.review,\n      needsRevision: false\n    }\n  }\n};"
      },
      "id": "9fc6c2bb-757a-4326-91ac-3cdc4e787d39",
      "name": "Update Chapter Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Finalize the current chapter and generate summary for continuity\nconst projectState = $('Aggregate Review Feedback').item.json;\n\n// Store completed chapter\nconst chapters = projectState.completedChapters || [];\nconst chapterText = projectState.currentChapterDraft.text;\n\nchapters.push({\n  number: parseInt(projectState.currentChapter),\n  text: chapterText,\n  wordCount: projectState.currentChapterDraft.wordCount,\n  finalScore: projectState.review.averageScore,\n  completedAt: new Date().toISOString()\n});\n\n// Generate chapter summary for next-chapter continuity\nconst chapterSummaries = projectState.chapterSummaries || [];\nconst opening = chapterText.substring(0, 600);\nconst closing = chapterText.substring(Math.max(0, chapterText.length - 400));\n\n// Extract plot/character info from reviews\nconst devReview = projectState.review?.developmental || {};\nconst plotInfo = typeof devReview.plot === 'string' ? devReview.plot : JSON.stringify(devReview.plot || '').substring(0, 400);\nconst characterInfo = typeof devReview.character === 'string' ? devReview.character : JSON.stringify(devReview.character || '').substring(0, 300);\n\nchapterSummaries.push({\n  number: parseInt(projectState.currentChapter),\n  wordCount: projectState.currentChapterDraft.wordCount,\n  opening: opening,\n  closing: closing,\n  plotEvents: plotInfo,\n  characterState: characterInfo,\n  score: projectState.review.averageScore\n});\n\nconst currentChapter = parseInt(projectState.currentChapter);\nconst targetChapters = parseInt(projectState.targetChapters);\n\n// Pipeline logging\nconst log = projectState.pipelineLog || [];\nlog.push({\n  timestamp: new Date().toISOString(),\n  node: 'Finalize Chapter',\n  chapter: currentChapter,\n  action: 'Chapter finalized',\n  wordCount: projectState.currentChapterDraft.wordCount,\n  score: projectState.review.averageScore,\n  revisions: projectState.currentChapterDraft.revisionCount || 0\n});\n\nreturn {\n  json: {\n    ...projectState,\n    completedChapters: chapters,\n    chapterSummaries,\n    pipelineLog: log,\n    currentChapter: (currentChapter + 1).toString(),\n    status: currentChapter >= targetChapters ? 'complete' : 'drafting'\n  }\n};"
      },
      "id": "e9f838a9-7ded-4693-9975-52f028e1fe94",
      "name": "Finalize Chapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "complete"
            }
          ]
        }
      },
      "id": "597473ad-6741-45eb-8178-2368727430e8",
      "name": "All Chapters Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3072,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1vSGcfSPmDKBUAvk7vJK7Y76PX5rJNr3L82ipCP5xsjI"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.projectSlug + '-chapters' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Project Slug": "={{ $json.projectSlug }}",
            "Chapter Number": "={{ $json.currentChapterDraft.chapterNumber }}",
            "Word Count": "={{ $json.currentChapterDraft.wordCount }}",
            "Final Score": "={{ $json.review.averageScore }}",
            "Revision Count": "={{ $json.currentChapterDraft.revisionCount || 1 }}",
            "Completed At": "={{ $now.toISO() }}",
            "Chapter Text": "={{ $json.currentChapterDraft.text.substring(0, 50000) }}"
          }
        },
        "options": {}
      },
      "id": "47bc6e68-c6d5-4765-bd86-5456437b1db8",
      "name": "Save Chapter to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3280,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhyTImy7x7tBA5vR",
          "name": "Google Sheets account"
        }
      },
      "notes": "Saves each completed chapter"
    },
    {
      "parameters": {
        "jsCode": "// Compile all chapters into final manuscript\nconst projectState = $('Finalize Chapter').item.json;\nconst chapters = projectState.completedChapters || [];\n\nlet manuscript = `# ${projectState.concept.substring(0, 100)}\\n`;\nmanuscript += `## A ${projectState.genre} Novel\\n\\n`;\nmanuscript += `---\\n\\n`;\n\nfor (const chapter of chapters.sort((a, b) => a.number - b.number)) {\n  manuscript += `# Chapter ${chapter.number}\\n\\n`;\n  manuscript += chapter.text;\n  manuscript += `\\n\\n---\\n\\n`;\n}\n\nconst totalWords = chapters.reduce((sum, ch) => sum + ch.wordCount, 0);\nconst avgScore = chapters.reduce((sum, ch) => sum + parseFloat(ch.finalScore), 0) / chapters.length;\n\n// Cost summary\nconst tokenUsage = projectState.tokenUsage || [];\nconst byModel = {};\nfor (const entry of tokenUsage) {\n  if (!byModel[entry.model]) {\n    byModel[entry.model] = { provider: entry.provider, calls: 0, inputTokens: 0, outputTokens: 0, costUSD: 0 };\n  }\n  byModel[entry.model].calls++;\n  byModel[entry.model].inputTokens += entry.inputTokens;\n  byModel[entry.model].outputTokens += entry.outputTokens;\n  byModel[entry.model].costUSD += entry.costUSD;\n}\nfor (const model of Object.keys(byModel)) {\n  byModel[model].costUSD = Math.round(byModel[model].costUSD * 1000000) / 1000000;\n}\nconst totalCostUSD = Math.round(tokenUsage.reduce((sum, e) => sum + e.costUSD, 0) * 100) / 100;\n\n// Final log entry\nconst log = [...(projectState.pipelineLog || [])];\nlog.push({\n  timestamp: new Date().toISOString(),\n  node: 'Compile Full Manuscript',\n  action: 'Manuscript compiled',\n  totalChapters: chapters.length,\n  totalWords,\n  avgScore: avgScore.toFixed(1),\n  totalCostUSD\n});\n\nreturn {\n  json: {\n    ...projectState,\n    manuscript,\n    summary: {\n      totalChapters: chapters.length,\n      totalWords,\n      averageScore: avgScore.toFixed(1),\n      completedAt: new Date().toISOString()\n    },\n    costSummary: {\n      totalCostUSD,\n      totalApiCalls: tokenUsage.length,\n      byModel,\n      breakdown: tokenUsage\n    },\n    pipelineLog: log,\n    spareText: projectState.spareText || []\n  }\n};"
      },
      "id": "58596530-c29a-4ab2-8c0b-10cd060e94c3",
      "name": "Compile Full Manuscript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        208
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1Ikyr4XOq4Bi8C2Jqs0tILKwQ7_9Lij5RK2IsRQcJgDE",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.manuscript }}"
            }
          ]
        }
      },
      "id": "51a45d62-0b8b-46f9-becf-6088370a5c69",
      "name": "Export to Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        3504,
        208
      ],
      "credentials": {
        "googleApi": {
          "id": "g9SGR772G4ZhDPCG",
          "name": "Google Service Account account"
        }
      },
      "notes": "Exports final manuscript to Google Docs"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Novel draft complete!', summary: $json.summary, manuscriptPreview: $json.manuscript.substring(0, 500) + '...' }) }}",
        "options": {}
      },
      "id": "09ed9929-b9f3-4170-aff2-92e509746879",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3728,
        208
      ]
    },
    {
      "parameters": {},
      "id": "9e25cd90-78d7-43b4-a95f-fb451f06a90f",
      "name": "Continue to Next Chapter",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3280,
        512
      ],
      "notes": "Loop back to draft next chapter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1vSGcfSPmDKBUAvk7vJK7Y76PX5rJNr3L82ipCP5xsjI"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.projectSlug + '-log' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Project Slug": "={{ $json.projectSlug }}",
            "Execution Date": "={{ $now.toISO() }}",
            "Total Chapters": "={{ $json.summary?.totalChapters || 0 }}",
            "Total Words": "={{ $json.summary?.totalWords || 0 }}",
            "Total Cost USD": "={{ $json.costSummary?.totalCostUSD || 0 }}",
            "Cost By Model": "={{ JSON.stringify($json.costSummary?.byModel || {}) }}",
            "Pipeline Log": "={{ JSON.stringify($json.pipelineLog || []) }}"
          }
        },
        "options": {}
      },
      "id": "598754a9-03da-4688-b6ee-49c5710c03de",
      "name": "Save Pipeline Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3504,
        408
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhyTImy7x7tBA5vR",
          "name": "Google Sheets account"
        }
      },
      "notes": "Saves execution log with per-node timing, tokens, and costs"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1vSGcfSPmDKBUAvk7vJK7Y76PX5rJNr3L82ipCP5xsjI"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.projectSlug + '-spare' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Project Slug": "={{ $json.projectSlug }}",
            "Execution Date": "={{ $now.toISO() }}",
            "Spare Text Items": "={{ ($json.spareText || []).length }}",
            "Spare Text": "={{ JSON.stringify($json.spareText || []) }}"
          }
        },
        "options": {}
      },
      "id": "5b91c021-125f-4458-b878-42e45b16b24a",
      "name": "Save Spare Text",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3504,
        558
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhyTImy7x7tBA5vR",
          "name": "Google Sheets account"
        }
      },
      "notes": "Saves unused creative material: Grok suggestions, line edits, pre-revision drafts"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1PnL_GV8ETPk3LM5DFkod2MOWEl1UvPZU7pVNx8JRg9Q",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ '# Spare Text \u2014 ' + $json.projectSlug + '\\n\\nGenerated: ' + $now.toISO() + '\\n\\n' + ($json.spareText || []).map(s => '## ' + s.source + ' (Chapter ' + s.chapter + ')\\nType: ' + s.type + '\\n\\n' + s.content + '\\n\\n---\\n\\n').join('') }}"
            }
          ]
        }
      },
      "id": "ca06b49b-b091-4718-aa29-a1dd79aaf404",
      "name": "Export Spare Text to Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        3728,
        558
      ],
      "credentials": {
        "googleApi": {
          "id": "g9SGR772G4ZhDPCG",
          "name": "Google Service Account account"
        }
      },
      "notes": "Exports unused creative material to Google Doc for browsing"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Novel Project": {
      "main": [
        [
          {
            "node": "Initialize Project State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Initialize Project State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Project State": {
      "main": [
        [
          {
            "node": "ChatGPT: Plot Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT: Plot Outline": {
      "main": [
        [
          {
            "node": "Claude: Character Development",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Character Development": {
      "main": [
        [
          {
            "node": "Perplexity: Research & Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity: Research & Facts": {
      "main": [
        [
          {
            "node": "Aggregate Planning Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Planning Data": {
      "main": [
        [
          {
            "node": "Save Project to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Project to Sheets": {
      "main": [
        [
          {
            "node": "Start Drafting Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Drafting Phase": {
      "main": [
        [
          {
            "node": "Claude: Write Chapter Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Write Chapter Draft": {
      "main": [
        [
          {
            "node": "Grok: Creative Enhancements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grok: Creative Enhancements": {
      "main": [
        [
          {
            "node": "Combine Draft & Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Draft & Suggestions": {
      "main": [
        [
          {
            "node": "Gemini: Comprehensive Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Comprehensive Review": {
      "main": [
        [
          {
            "node": "ChatGPT: Consistency Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT: Consistency Check": {
      "main": [
        [
          {
            "node": "Claude: Line Editing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Line Editing": {
      "main": [
        [
          {
            "node": "Aggregate Review Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Review Feedback": {
      "main": [
        [
          {
            "node": "Needs Revision?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Revision?": {
      "main": [
        [
          {
            "node": "Claude: Apply Revisions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Apply Revisions": {
      "main": [
        [
          {
            "node": "Update Chapter Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chapter Draft": {
      "main": [
        [
          {
            "node": "Finalize Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Chapter": {
      "main": [
        [
          {
            "node": "All Chapters Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Chapters Done?": {
      "main": [
        [
          {
            "node": "Compile Full Manuscript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Chapter to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chapter to Sheets": {
      "main": [
        [
          {
            "node": "Continue to Next Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue to Next Chapter": {
      "main": [
        [
          {
            "node": "Start Drafting Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Full Manuscript": {
      "main": [
        [
          {
            "node": "Export to Google Docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Pipeline Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Spare Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to Google Docs": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Spare Text": {
      "main": [
        [
          {
            "node": "Export Spare Text to Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "110d589a-df0f-4b24-942e-0e85ae723abb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "811e606935e5bbbac32283624997cde8306cb1967470693a3e4e5e111436b619"
  },
  "id": "fO5KbBCNxtXK5KPh",
  "tags": []
}