workflows/shamain-smart-routing-workflow.json
{
  "name": "ShamAIn - Smart LLM Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shamain-chat",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-chat",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "shamain-chat"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "shamain-health",
        "options": {}
      },
      "id": "webhook-health",
      "name": "Health Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 600],
      "webhookId": "shamain-health"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', service: 'shamain-n8n', timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "respond-health",
      "name": "Return Health",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [220, 600]
    },
    {
      "parameters": {
        "jsCode": "// Parse request and classify query type\nconst body = $input.first().json.body || $input.first().json;\n\nconst message = body.message?.trim();\nif (!message) {\n  throw new Error('Message is required');\n}\n\nconst conversationHistory = body.conversationHistory || [];\nconst userId = body.userId || 'anonymous';\n\n// Classify query type for smart routing\nconst msgLower = message.toLowerCase();\nlet queryType = 'general';\nlet primaryModel = 'claude-haiku';\n\n// Real-time / current events → Perplexity\nconst realtimeKeywords = ['latest', 'news', 'recent', 'today', 'current', 'now', '2024', '2025', '2026', 'happening', 'update'];\nif (realtimeKeywords.some(kw => msgLower.includes(kw))) {\n  queryType = 'realtime';\n  primaryModel = 'perplexity';\n}\n\n// Deep/complex conversation → Claude Sonnet\nconst deepKeywords = ['explain', 'why', 'how does', 'help me understand', 'tell me about', 'what do you think', 'advice', 'feeling', 'struggling', 'confused'];\nif (deepKeywords.some(kw => msgLower.includes(kw))) {\n  queryType = 'deep';\n  primaryModel = 'claude-sonnet';\n}\n\n// Creative requests → GPT-4\nconst creativeKeywords = ['write', 'story', 'poem', 'creative', 'imagine', 'pretend', 'roleplay', 'fiction'];\nif (creativeKeywords.some(kw => msgLower.includes(kw))) {\n  queryType = 'creative';\n  primaryModel = 'gpt-4o-mini';\n}\n\n// Very short queries → Haiku (fast)\nif (message.split(' ').length <= 5) {\n  queryType = 'quick';\n  primaryModel = 'claude-haiku';\n}\n\n// Build conversation context (last 10 messages)\nconst contextMessages = conversationHistory.slice(-10).map(m => ({\n  role: m.role || (m.isUser ? 'user' : 'assistant'),\n  content: m.content || m.text || m.message\n})).filter(m => m.content);\n\nreturn {\n  json: {\n    message,\n    queryType,\n    primaryModel,\n    conversationHistory: contextMessages,\n    userId,\n    requestId: `shamain_${Date.now()}_${Math.random().toString(36).substr(2, 6)}`,\n    startTime: Date.now()\n  }\n};"
      },
      "id": "classify-query",
      "name": "Classify Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.primaryModel }}",
              "value2": "perplexity"
            }
          ]
        }
      },
      "id": "is-realtime",
      "name": "Is Realtime?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.primaryModel }}",
              "value2": "claude-sonnet"
            }
          ]
        }
      },
      "id": "is-deep",
      "name": "Is Deep?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.primaryModel }}",
              "value2": "gpt-4o-mini"
            }
          ]
        }
      },
      "id": "is-creative",
      "name": "Is Creative?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 500]
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer {{ $credentials.httpHeaderAuth.value }}"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar', messages: [{ role: 'system', content: 'You are ShamAIn, a helpful assistant with access to current information. Be concise and cite sources when relevant. Keep responses under 150 words unless asked for more detail.' }, { role: 'user', content: $json.message }], max_tokens: 500 }) }}",
        "options": { "timeout": 20000 }
      },
      "id": "query-perplexity",
      "name": "Perplexity (Realtime)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{ $credentials.httpHeaderAuth.value }}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-3-5-sonnet-20241022', max_tokens: 1000, system: 'You are ShamAIn, a warm, thoughtful AI assistant. Be calm and measured. Skip filler phrases. Get to the substance quickly. Be supportive without being effusive.', messages: [{ role: 'user', content: $json.message }] }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "query-claude-sonnet",
      "name": "Claude Sonnet (Deep)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'You are ShamAIn, a creative and engaging AI assistant. For creative writing, be expressive. For other requests, be concise.' }, { role: 'user', content: $json.message }], max_tokens: 1000, temperature: 0.8 }) }}",
        "options": { "timeout": 20000 }
      },
      "id": "query-gpt",
      "name": "GPT-4o-mini (Creative)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{ $credentials.httpHeaderAuth.value }}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-3-haiku-20240307', max_tokens: 500, system: 'You are ShamAIn, a warm and helpful AI assistant. Be CONCISE - respond in 1-3 sentences unless more detail is explicitly requested. Get straight to the point. Never start with filler phrases.', messages: [{ role: 'user', content: $json.message }] }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "query-claude-haiku",
      "name": "Claude Haiku (Default)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse response from any model and build final output\nconst classifyData = $('Classify Query').first().json;\nconst response = $input.first().json;\nconst primaryModel = classifyData.primaryModel;\n\nlet text = null;\nlet error = null;\nlet citations = null;\nlet modelUsed = primaryModel;\n\n// Check for API errors\nif (response.error) {\n  error = response.error.message || JSON.stringify(response.error);\n}\n\n// Extract text based on response format\nif (!error) {\n  try {\n    // Claude format\n    if (response.content && response.content[0]) {\n      text = response.content[0].text;\n      modelUsed = response.model || primaryModel;\n    }\n    // OpenAI/Perplexity format\n    else if (response.choices && response.choices[0]) {\n      text = response.choices[0].message?.content;\n      modelUsed = response.model || primaryModel;\n      citations = response.citations || null;\n    }\n    // Gemini format\n    else if (response.candidates && response.candidates[0]) {\n      text = response.candidates[0].content?.parts?.[0]?.text;\n      modelUsed = 'gemini-1.5-flash';\n    }\n  } catch (e) {\n    error = `Parse error: ${e.message}`;\n  }\n}\n\n// If no text and no error, something went wrong\nif (!text && !error) {\n  text = \"I'm having trouble responding right now. Please try again.\";\n  error = 'No response text received';\n}\n\n// Remove filler phrases for conciseness\nif (text) {\n  const fillerPatterns = [\n    /^(Great question!|That's a great question!|I'd be happy to help!|Absolutely!|Of course!)\\s*/i,\n    /^(Hello!|Hi there!|Hey!)\\s*/i,\n    /Let me know if you have any other questions\\.?\\s*$/i,\n    /Is there anything else I can help (you )?with\\??\\s*$/i,\n    /I hope (this|that) helps!?\\s*$/i,\n    /Feel free to ask if you need more (help|information)!?\\s*$/i\n  ];\n  \n  fillerPatterns.forEach(pattern => {\n    text = text.replace(pattern, '');\n  });\n  text = text.trim();\n}\n\nconst wordCount = text ? text.split(/\\s+/).length : 0;\n\nreturn {\n  json: {\n    success: !error || !!text,\n    requestId: classifyData.requestId,\n    message: text,\n    queryType: classifyData.queryType,\n    model: modelUsed,\n    citations: citations,\n    meta: {\n      wordCount,\n      responseTimeMs: Date.now() - classifyData.startTime,\n      hadError: !!error,\n      errorDetails: error\n    }\n  }\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json"},
              {"name": "X-Model-Used", "value": "={{ $json.model }}"}
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [[{ "node": "Classify Query", "type": "main", "index": 0 }]]
    },
    "Health Check": {
      "main": [[{ "node": "Return Health", "type": "main", "index": 0 }]]
    },
    "Classify Query": {
      "main": [[{ "node": "Is Realtime?", "type": "main", "index": 0 }]]
    },
    "Is Realtime?": {
      "main": [
        [{ "node": "Perplexity (Realtime)", "type": "main", "index": 0 }],
        [{ "node": "Is Deep?", "type": "main", "index": 0 }]
      ]
    },
    "Perplexity (Realtime)": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Is Deep?": {
      "main": [
        [{ "node": "Claude Sonnet (Deep)", "type": "main", "index": 0 }],
        [{ "node": "Is Creative?", "type": "main", "index": 0 }]
      ]
    },
    "Claude Sonnet (Deep)": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Is Creative?": {
      "main": [
        [{ "node": "GPT-4o-mini (Creative)", "type": "main", "index": 0 }],
        [{ "node": "Claude Haiku (Default)", "type": "main", "index": 0 }]
      ]
    },
    "GPT-4o-mini (Creative)": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Claude Haiku (Default)": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Build Response": {
      "main": [[{ "node": "Return Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
